<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ApartmentHub - Quản lý chung cư thông minh</title>
    <!-- Tải các file JS và CSS đã được build từ React (Vite) -->
    <script type="module" crossorigin src="/assets/index-ydYHmHkA.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-X1ZCMOnE.css">
    
    <!-- Truyền dữ liệu người dùng từ Backend EJS sang Frontend -->
    <script>
      window.USER_DATA = <%- JSON.stringify(locals.user || null) %>;
    </script>
  </head>
  <body>
    <div id="root"></div>

  </body>
</html>